body {
			font-family: Roboto, sans-serif;
}
.example{
  flex-grow: 1;
}
.header{
 background-color: #F5F5F5;
 padding: 0.2em
}
.column{
  background-color: #FAFAFA;
  padding: 0.5em;
}
.button{
  background-color: #BDBDBD;
  border-radius: 1em;
  margin: 0.2em
}
.customIconBox{
  border: 1px solid #2192fe;
  background-color: white;
  padding: 2;
  border-radius: 8px;
  width: 30px;
  height: 30px;
}